.vscode
build/
config/
esp-idf/
main/build/*
main/CMakeFiles
main/CMakeCache.txt
main/component.mk
app-flash_args
bootloader-flash_args
bootloader*
build.ninja
CMakeCache.txt
compile_commands.json
config.env
flash_*
flasher_args.json
kconfigs*
ldgen*
*flash*
project_description.json
CMakeFiles
cmake_install.cmake
sdkconfig.old
sdkconfig.defaults.esp32s3
sdkconfig.defaults
managed_components
dependencies.lock
folder/
libraries/
main/app/network/cloud/certs